@using MIKO.Models.CoctailModels
@model PostsUserModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="profile.css" rel="stylesheet" type="text/css">
    <title>Profile - MIKO</title>
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
</head>
<body>
    <div class="bodyProfile">
        <div class="homePlate">
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Juvenile_Ragdoll.jpg" class="avatarProfile">
            <p class="nickNameProfile">@Model.user.Login</p>
            <p class="nickNameProfile" style="font-size:16px; color:gray; margin-top:-10px;">@Model.user.Id.ToString("0000")</p>
            <p class="disc">@Model.user.Description</p>
            <p class="item">Posts</p>
            <div style="margin-top:30px">
                @foreach(var item in Model.posts)
                {
                    <div onclick="location.href='/Forum/Post/@item.Id';" class="homePlateElement">
                        <p class="homePlateElementTitle">@item.Title</p>
                        <p class="homePlateElementText">@item.Text</p>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>